/* reset */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li { list-style: none; }

a,
span,
button { display: block; }

a {
	color: inherit;
	text-decoration: none;
}

/* html */

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
    display: block;
}

/* body */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	color: white;
	background: linear-gradient(to bottom, black,#8b7cad);
	padding: 10px 20px;
}


/* header */
header {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

/* logo with a glow*/

.logo_img {
  width: 70%;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow 0.5s; /* Add a smooth transition for the glow effect */
}

.logo_img:hover {
  box-shadow: 0 0 10px rgba(181, 51, 51, 0.597); /* Add a red glow when hovering */
}





.nav ul{
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	position: absolute;
	right: 20px;
	top: 60px;
}

.nav ul li{
	margin-right: 20px;
	font-weight: 500;
	font-size: 30px;
}

/* get a ready for hover */
.nav a {
  text-decoration: none;
  position: relative; 
	transition: color 0.1s ease-in;
}

/* line for a on hover */
.nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* The thickness of the line */
  background-color: rgba(181, 51, 51, 0.597); 
  bottom: -5px; /* Position it at the bottom of the link */
  left: 0;
  transform: scaleX(0); /* Start with no width (0) */
  transform-origin: 0 100%;
  transition: transform 0.5s; /* Transition effect for the glow */
}

.nav a:hover::after {
  transform: scaleX(1); /* Expand to full width (100%) on hover */
}

.nav a:hover{
	color: rgba(255, 255, 255, 0.799);
}

/* add glow effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(181, 51, 51, 0.597);
  }
  50% {
    box-shadow: 0 0 20px rgba(181, 51, 51, 0.597);
  }
  100% {
    box-shadow: 0 0 10px rgba(181, 51, 51, 0.597);
  }
}

.nav a::after {
  animation: glow 1s infinite;
  box-shadow: 0 0 10px rgba(181, 51, 51, 0.597);
}

/* separator */
.separator {
	width: 100%;
	height: 2px;
	background-color: rgba(139, 0, 0, 0.361);
	margin-bottom: 20px;
	margin-top: 20px;
}

/* promo */

.promo {
  display: flex;
  justify-content: space-between;

}

.promo_img{
	text-align: right;
	max-width: 50%;
}

.promo_img img {
  max-width: 100%;
}

.promo_text{
	padding-top: 10%;
}



